* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.2em;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  background: #89916c;
  background: -moz-linear-gradient(top, #89916c 0%, #686d52 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #89916c 0%,#686d52 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #89916c 0%,#686d52 100%); /* W3C */
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #2b3146;
}

small { font-size: 85%; }

a {
  text-decoration: none;
  color: #0b4d82;
}

h1, h2, h3 {
  border-bottom: 1px solid #2b3146;
  margin-bottom: 5px;
  color: #0b4d82;
}

h3 { font-size: 14px; }

h2 { font-size: 16px; }

h1 { font-size: 18px; }

#hosts { width: 100%; }

header, #content, footer {
  min-width: 640px;
  margin: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #0b4d82;
  -moz-border-radius: 5px;
  -webkit-border-radius: 6px;
  background: white;
  overflow-y: auto;
  overflow-x: visible;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

header { padding-bottom: 5px; }

footer { font-size: 10px; }

header ul {
  float: left;
  margin-left: 120px;
}
header li {
  float: left;
  padding-right: 15px;
  line-height: 28px;
  list-style: none;
}

header li a {
  font-weight: bold;
  padding: 2px 4px;
}

.bad_field {
  background: #fdd;
  border: 1px solid #c00 !important;
}

table {
  margin: 10px;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 1px 5px;
  line-height: 14px;
}

tbody {
  border-top: 1px solid #999;
}

tr {
  border-bottom: 1px solid #999;
}

.alt_rows tbody tr:nth-child(odd) {
  background: #CED3B8;
}

#show th {
  text-align: right;
  padding-right: 5px;
}

.new_host, .edit_host {
  margin: auto;
  width: 460px;
}

.new_host p, .edit_host p {
  margin-bottom: 10px;
}

.invalid_field {
  border: 1px solid #c00 !important;
  background: #fee;
}

.invalid_tip {
  margin-top: -5px;
  margin-left: 10px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #999;
  position: absolute;
  z-index: 50;
  background: #ff9;
}

.invisible {
  display: none;
}

button, input[type=submit] {
  font-weight: bold;
  cursor: pointer;
  color: #505050;
  padding: 5px 10px;
}

button[disabled] {
  color: #aaa;
}

select {
  font-family: sans-serif;
  font-weight: bold;
  color: #505050;
}

.new_host label, .edit_host label, .mock_label {
  display: block;
  margin-top: 1em;
  color: #505050;
  font-weight: bold;
  vertical-align: middle;
  font-size: 1.2em;
}

input[type=radio] + label {
  display: inline;
}

input[type=radio] {
  line-height: 1;
  vertical-align: middle;
}

#show_buttons { text-align: center; }

#show_buttons button { margin: 10px; }

.show_edit { white-space: pre;}
.show_edit button {
  display: inline;
  padding: 0 0.5em;
  margin: 0;
  font-size: 0.8em;
}

.pagination {
  text-align: right;
  padding-top: 10px;
}

#per_page {
  text-align: right;
  padding-top: 2px;
}

#hosts td {
  vertical-align: middle;
  padding: 0.5em;
}

#hosts td.notes_col, .note_expanded {
  white-space: pre-wrap;
  line-height: 1.5em;
}

#ip_picker {
  float: right;
  margin-left: 10px;
}

#ip_picker ul {
  background: #CED3B8;
  opacity: 0.9;
  color: #0b4d82;
  padding: 5px;
  overflow-y: scroll;
  height: 300px;
}

#ip_picker ul { min-width: 95px; }

#ip_picker li { cursor: pointer; }

#ip_picker select { font-size: 0.9em; }

#deezy_logo {
  display: block;
  float: left;
  position: absolute;
  left: -10px;
  top: -24px;
}

#search_mac_or_ip_or_itgid_or_room_or_hostname_or_uid_or_notes_contains {
  background: url(../images/blue-glass.png) white 0 -2px;
  float: right;
  font-weight: bold;
  padding: 3px;
  padding-left: 25px;
}

input[type=text], textarea {
  font-family: Arial,Helvetica,sans-serif;
  padding: 1px 2px;
  color: #0b4d82;
  border: 1px solid #999;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
}

input[type=text] { width: 150px; }
input[type=radio] { margin-left: 2em; }

textarea {
  width: 100%;
  height: 86px;
}

label { cursor: pointer; }

.fieldWithErrors label {
  font-weight: bold;
  color: #c00;
  margin-bottom: 0;
}

#version {
  float: right;
  margin-top: -0.5em;
}

.field_warning {
  font-size: 0.9em;
  color: #933;
  position: absolute;
  width: 200px;
  padding: 0.25em 0.5em;
  background: #fee;
  border: 1px solid #c00;
  border-radius: 5px;
}

.errorExplanation {
  background: #fee;
  border: #933;
  clear: both;
  border: 1px solid #c00;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em;
}

.errorExplanation li {
  margin-left: 2em;
}
