.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/deezy/dhcpd.leases
public/deezy/javascripts/application.js
public/deezy/javascripts/all_min.js
.bash*
.gem*
.lesshst
.rvm
.ssh
.vim*
*.swp
.gitconfig
.rvmrc
