/* CSS Tools: Reset CSS                              */
/* Source: http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212                                   */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end CSS Tools: Reset CSS */

body {
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  background-image:url(/images/green-concrete.jpg);
  background-color:#89916c;
  color:#2b3146;
}

header, footer, aside, nav, article, section {
  display:block;
}

#faco {
  position:relative;
  overflow:hidden;
}

#facr {
  float:left;
  position:relative;
  left:50%;
}

#facc {
  float:left;
  position:relative;
  left:-50%;
}

a {
  text-decoration:none;
  color:#0b4d82;
}

a:visited {
  color:#0b4d82;
}

a:hover {
  text-decoration:underline;
}

h1, h2, h3 {
  border-bottom:1px solid #2b3146;
  margin-bottom:5px;
  color:#0b4d82;
}

h3 {
  font-size:14px;
}

h2 {
  font-size:16px;
}

h1 {
  font-size:18px;
}

header h1 {
  border:none;
  margin:0;
}

#entries {
  width:100%;
}

header, #content, footer {
  min-width:750px;
  margin:10px;
  padding:10px;
  background: #fff;
  border:1px solid #0b4d82;
  -moz-border-radius:5px;
  -webkit-border-radius:6px;
  overflow:auto;
  background:transparent;
  background-image:url(/images/white-paper.jpg);
}

header {
  padding-bottom:5px;
}

dl {
  clear:both;
}

dt {
  font-weight:bold;
  float:left;
}

dd {
  float:left;
}

footer {
  font-size:10px;
}

header ul {
  float:left;
  margin-left:120px;
}
header li {
  float:left;
  padding-right:15px;
  line-height:28px;
}

header li a {
  font-weight:bold;
  padding:2px 4px;
}

header h1 {
  float:left;
}

.bad_field {
  background:#fdd;
  border:1px solid #c00 !important;
}

table {
  margin:10px;
  margin:auto;
}

th, td {
  padding:1px 5px;
  line-height:14px;
}

tbody {
  border-top:1px solid #999;
}

tr {
  border-bottom:1px solid #999;
}

.alt_rows tbody tr:nth-child(odd) {
  background-image:url(/images/green-transparent.png);
}

#show th {
  text-align:right;
  padding-right:5px;
}

.mono {
  font-family:monospace;
}

small {
  font-size:85%;
}

.new_entry, .edit_entry {
  margin:auto;
  width:460px;
}

.new_entry p, .edit_entry p {
  margin-bottom: 10px;
}

.invalid_field {
  border:1px solid #c00 !important;
  background:#fee;
}

.invalid_tip {
  margin-top:-5px;
  margin-left:10px;
  font-weight:bold;
  padding:5px;
  border:1px solid #999;
  position:absolute;
  z-index:50;
  background:#ff9;
}

.invisible {
  display:none;
}

#errorExplanation {
  border:5px solid #c00;
  background:#fee;
  margin:10px;
  padding:10px;
}

#errorExplanation li {
  list-style:circle;
  margin:5px;
  margin-left:20px;

}

input[disabled=disabled] {
  border:1px inset #555;
  background:#555;
}

.toggle_button_inner {
  padding-left:16px;
}

input[type=checkbox] {
  line-height:1;
  vertical-align:middle;
}

.field_disabled {
  background: #eee !important;
  border:#999;
  color:#999;
}

.note_expanded {
  white-space:pre-wrap;
}

.aside {
  font-size:60%;
}

button {
  background:transparent url(/images/button.png);
  border:1px solid;
  border-color:#ccc #777 #777 #ccc;
  color:#505050;
  font-weight:bold;
  height:30px;
  vertical-align:middle;
  text-align:center;
  cursor:pointer;
}

button:active {
  background:transparent url(/images/button-active.png);
  border-color:#777 #ccc #ccc #777;
}

button[disabled] {
  color:#aaa;
  cursor:auto;
}

button[disabled]:active {
  background:transparent url(/images/button.png);
  border-style: outset;
}

button img {
  margin-top:-4px;
  margin-right:5px;
  vertical-align:middle;
}

button p {
  margin:0;
  padding:0;
  font-family:sans-serif;
  font-size:14px;
  line-height:28px;
}

select {
  font-family:sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#505050;
}

.new_entry p, .edit_entry p {
  font-size:14px;
  color: #505050;
  font-weight:bold;
  vertical-align:middle;
}

input[type=radio] + label {
  font-size:12px;
}

input[type=radio] {
  line-height:1;
  vertical-align:middle;
}

#dynamic_toggle {
  float:left;
  clear:right;
  margin-bottom:10px;
}

#dynamic_toggle button {
}

#show_buttons {
  text-align:center;
}

#show_buttons button {
  margin:10px;
}

#entry_scope {
  vertical-align:middle;
}

.show_edit {
  min-width:48px;
}

.pagination {
  text-align:right;
  padding-top:10px;
}

#entries td {
  line-height:1em;
  vertical-align:middle;
}

#notes_th {
  max-width:100%;
}

.notes_col a {
  font-size:14px;
  padding-left:5px;
}

#notes_th > span {
  font-size:16px;
  padding:0pt 5px;
}

#notes_th > span > span {
  font-size:14px;
  padding:0pt 3px;
}

#ip_picker {
  background-image:url(/images/green-transparent.png);
  color:#0b4d82;
  border:1px solid #0b4d82;
  padding:5px;
  float:right;
  overflow-y:scroll;
  margin-left:10px;
}

#ip_picker ul {
  min-width:95px;
}

#ip_picker li {
  cursor:pointer;
}

#deezy_logo {
  display:block;
  float:left;
  position:absolute;
  left:-10px;
  top:-24px;
}

#search_any_like {
  background:url(/images/blue-glass.png) transparent 0 -2px;
  float:right;
  font-weight:bold;
  padding:3px;
  padding-left:25px;
}

input[type=text], textarea {
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  padding:1px 2px;
  color:#0b4d82;
  border:1px solid #0b4d82;
  background:transparent;
}

input[type=text] {
  width:150px;
}

textarea {
  width:300px;
  height:64px;
}

label {
  cursor:pointer;
}
